

/* SIGN UP PAGE */

.loginsignup_shell {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginsignup_form {
  width: 35%;
  align-self: center;
}



/* AGENT HOME PAGE */

.agent_homepage {
  display: flex;
  flex-direction: row;
}

