@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mont-Heavy;
  src: url(./elements/Mont-HeavyDEMO.otf);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5EFE6 !important;
}

#root {
  background-color: #F5EFE6;
}

/* FONTS */
.mont {
  font-family: "Mont-Heavy", sans-serif;
  font-weight: 700;
}

.input-color {
  color: rgb(189, 189, 189) !important;

}

.clientnav {
  background-color: rgb(28, 30, 32);
}

/* BOOTSTRAP EXCEPTIONS */
/* 
.modal {
  top: auto;
  left: auto;
  height: auto;
} */



/* BUTTONS */

.button_bg {
  background-color: #90B8F8 !important;
}

.button_bg:hover {
  background-color: #5F85DB !important;
}

/*  INPUT & FORMS */

.input_bg {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.293) !important;
}

.input_label, .text_custom {
  color: white !important
}



/* MODALS */


.modal_content {
  background-color: #353941 !important;
}



.art_thumb {
  min-width: 24rem !important;
}
